@using LearningManagement.Data.Enums

<ul class="nav-links">
    <li><a id="@SubMenuNavBar.AdminIndex.ToString()" href="AdminInfo">Admin profile</a></li>
    <li><a id="@SubMenuNavBar.InstitutionInfo.ToString()" href="InstitutionInfo">Update Institution Info</a></li>
    <li><a id="@SubMenuNavBar.CreateInstitutionInfo.ToString()" href="CreateInstitutionInfo">Create Institution</a></li>
    <li><a id="@SubMenuNavBar.InstitutionList.ToString()" href="InstitutionList">Institution List</a></li>
    <li><a id="@SubMenuNavBar.AcademicYear.ToString()" href="AcademicYear">Academic Year</a></li>
    <li><a id="@SubMenuNavBar.AddClass.ToString()" href="AddClass">Add Class</a></li>
</ul>

