@using LearningManagement.Data.Enums

<ul class="nav-links">
    <li><a id="@SubMenuNavBar.AddCourse.ToString()" href="AddCourse">Add Course</a></li>
    <li><a id="@SubMenuNavBar.Course.ToString()" href="Course">Teacher Wise Course</a></li>
    <li><a id="@SubMenuNavBar.CourseOffline.ToString()" href="CourseOffline">Online Classes</a></li>
    <li><a id="@SubMenuNavBar.CourseAssignment.ToString()" href="CourseAssignment">Assignment</a></li>
    <li><a id="@SubMenuNavBar.CourseOutline.ToString()" href="CourseOutline">Course Outline</a></li>
    <li><a id="@SubMenuNavBar.CourseTest.ToString()" href="CourseTest">Class Test</a></li>
    <li><a id="@SubMenuNavBar.CourseQuiz.ToString()" href="CourseQuiz">Quiz Test</a></li>
    <li><a id="@SubMenuNavBar.CourseGrade.ToString()" href="CourseGrade">Grades</a></li>
</ul>

