@using LearningManagement.Data.Enums

<ul class="nav-links">
    <li><a id="@SubMenuNavBar.AddStudent.ToString()" href="AddStudent">Add Student</a></li>
    <li><a id="@SubMenuNavBar.Student.ToString()" href="Student">Student List</a></li>
    <li><a id="@SubMenuNavBar.StudentPayment.ToString()" href="StudentPayment">Payment Info</a></li>
    <li><a id="@SubMenuNavBar.StudentAttendanceReport.ToString()" href="StudentAttendanceReport">Attendance Report</a></li>
    <li><a id="@SubMenuNavBar.StudentClassWise.ToString()" href="StudentClassWise">Class wise Attendance</a></li>
    <li><a id="@SubMenuNavBar.StudentSubjectWise.ToString()" href="StudentSubjectWise">Subject wise Attendance</a></li>
</ul>