@using LearningManagement.Data.Enums

<ul class="nav-links">
        <li><a id="@SubMenuNavBar.AddTeacher.ToString()" href="AddTeacher">Add Teacher</a></li>
        <li><a id="@SubMenuNavBar.TeacherList.ToString()" href="Teacher">Teacher List</a></li>
        <li><a id="@SubMenuNavBar.TeacherAssign.ToString()" href="TeacherAssign">Assign Teacher</a></li>
        <li><a id="@SubMenuNavBar.TeacherAddContent.ToString()" href="TeacherAddContent">Add Content</a></li>
        <li><a id="@SubMenuNavBar.StudentCertificate.ToString()" href="StudentCertificate">Student Certificate</a></li>
</ul>